 <h2> My Heroes </h2>

 {{#each model as |hero|}}
 <div class="row">
     <div class="col-md-1">

       <p class="hero-grid-item">
          {{hero.score}}  {{hero.name}}  </p>  <button {{action votePlus hero on="click"}}>vote +</button>
         <button {{action voteMinus hero on="click"}}>vote -</button>

     </div>
 </div>
 {{/each}}
