<h2 class="new-hero-heading">Add New Hero</h2>

<form {{action addHero on="submit"}}>

  {{input type="text" value=name placeholder="Place name here"}}

  <button class="hero-save">Save</button>
</form>
